# Problem Statement

Student Attendance Dashboard for Decision Making. You will be given Google Sheet with different sheet holding data of different classes. Create a dashboard showing summary of what's happening across different classes. Which students needs attention for missing session? Which students are unsatisfied? Which students are very satisfied? <Date> Column shows attendance. R-<Date> Column shows rating by the candidate. Extra marks for identifying more useful insights. Missing values of Type column can be treated as STUDENT. This data gets updated daily basis. Latest data gets injected in early columns. Your code shouldn't need any changes to deal with latest data. Data Link - https://docs.google.com/spreadsheets/d/1Y_g6LQI2GLqpKf-fj-rH7D9gfnP2MJzpFA6t0AsBMi8/edit?usp=sharing

## Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Loading datasets

In [2]:
sheet_id = "1Y_g6LQI2GLqpKf-fj-rH7D9gfnP2MJzpFA6t0AsBMi8"
sheet_name_1 = "Class+1"
url_1 = "https://docs.google.com/spreadsheets/d/{0}/gviz/tq?tqx=out:csv&sheet={1}".format(sheet_id, sheet_name_1)

In [3]:
url_1

'https://docs.google.com/spreadsheets/d/1Y_g6LQI2GLqpKf-fj-rH7D9gfnP2MJzpFA6t0AsBMi8/gviz/tq?tqx=out:csv&sheet=Class+1'

In [4]:
df_1 = pd.read_csv(url_1)

In [5]:
df_1.head(7).iloc[:, :23]

,Unnamed: 0,Type,10-01-21,Unnamed: 3,09-01-21,Unnamed: 5,08-01-21,Unnamed: 7,07-01-21,Unnamed: 9,...,Unnamed: 13,04-01-21,Unnamed: 15,03-01-21,Unnamed: 17,02-01-21,Unnamed: 19,01-01-21,Unnamed: 21,Unnamed: 22
0,1,WORKING,Missed,6,Missed,10,Missed,8,Missed,9,...,8,Missed,9,Missed,10,Missed,7,Missed,6,NaN
1,2,NaN,Missed,6,Missed,7,Missed,10,Attended,8,...,8,Attended,9,Missed,6,Attended,5,Missed,9,NaN
2,3,STUDENT,Missed,7,Missed,10,Missed,10,Missed,6,...,7,Missed,9,Missed,10,Attended,9,Attended,9,NaN
3,4,STUDENT,Missed,7,Missed,7,Attended,5,Missed,10,...,9,Attended,10,Attended,10,Attended,8,Attended,8,NaN
4,5,WORKING,Missed,5,Missed,5,Missed,7,Missed,6,...,6,Missed,9,Missed,7,Missed,5,Missed,5,NaN
5,6,NaN,Missed,6,Missed,6,Missed,8,Missed,6,...,7,Attended,10,Attended,5,Attended,6,Attended,6,NaN
6,7,STUDENT,Attended,6,Attended,8,Attended,7,Attended,6,...,7,Attended,6,Attended,7,Attended,6,Attended,7,NaN

In [6]:
df_1.columns

Index(['Unnamed: 0', 'Type', '10-01-21', 'Unnamed: 3', '09-01-21',
       'Unnamed: 5', '08-01-21', 'Unnamed: 7', '07-01-21', 'Unnamed: 9',
       '06-01-21', 'Unnamed: 11', '05-01-21', 'Unnamed: 13', '04-01-21',
       'Unnamed: 15', '03-01-21', 'Unnamed: 17', '02-01-21', 'Unnamed: 19',
       '01-01-21', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
       'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33', 'Unnamed: 34'],
      dtype='object')

In [7]:
sheet_name_2 = "Class+2"
url_2 = "https://docs.google.com/spreadsheets/d/{0}/gviz/tq?tqx=out:csv&sheet={1}".format(sheet_id, sheet_name_2)

In [8]:
url_2

'https://docs.google.com/spreadsheets/d/1Y_g6LQI2GLqpKf-fj-rH7D9gfnP2MJzpFA6t0AsBMi8/gviz/tq?tqx=out:csv&sheet=Class+2'

In [9]:
df_2 = pd.read_csv(url_2)

In [10]:
df_2.head(2)

,Unnamed: 0,Type,10-01-21,Unnamed: 3,09-01-21,Unnamed: 5,08-01-21,Unnamed: 7,07-01-21,Unnamed: 9,...,05-01-21,Unnamed: 13,04-01-21,Unnamed: 15,03-01-21,Unnamed: 17,Unnamed: 18,Unnamed: 19,01-01-21,R-01-01-21
0,1,NaN,Attended,9,Attended,10,Attended,10,Attended,9,...,Attended,8,Attended,9,Missed,9,NaN,NaN,NaN,NaN
1,2,NaN,Attended,8,Attended,8,Attended,10,Attended,6,...,Attended,6,Attended,6,Attended,10,NaN,NaN,NaN,NaN

In [11]:
df_2.columns

Index(['Unnamed: 0', 'Type', '10-01-21', 'Unnamed: 3', '09-01-21',
       'Unnamed: 5', '08-01-21', 'Unnamed: 7', '07-01-21', 'Unnamed: 9',
       '06-01-21', 'Unnamed: 11', '05-01-21', 'Unnamed: 13', '04-01-21',
       'Unnamed: 15', '03-01-21', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       '01-01-21', 'R-01-01-21'],
      dtype='object')

## Data Cleaning

- 'Unnamed: 0' is a column with student roll number, changing it's name and setting it as and id

In [12]:
df_1["Student Roll No"] = df_1['Unnamed: 0']
df_1 = df_1.drop(labels = 'Unnamed: 0', axis = 1)

In [13]:
df_2["Student Roll No"] = df_2['Unnamed: 0']
df_2 = df_2.drop(labels = 'Unnamed: 0', axis = 1)

In [14]:
df_1 = df_1.set_index(keys = "Student Roll No")

In [15]:
df_2 = df_2.set_index(keys = "Student Roll No")

- for some reasons columns starting with "R-" are not getting identified
- adding those column names to those columns with missing column names

In [16]:
for i in range(len(df_1.columns) - 2):
    if df_1.columns[i+ 1][:7] == "Unnamed" and df_1.columns[i][:7] != "Unnamed":
        df_1["R-" + df_1.columns[i]] = df_1[df_1.columns[i + 1]]
        df_1 = df_1.drop(labels = df_1.columns[i + 1], axis = 1)

In [17]:
df_1.columns

Index(['Type', '10-01-21', '09-01-21', '08-01-21', '07-01-21', '06-01-21',
       '05-01-21', '04-01-21', '03-01-21', '02-01-21', '01-01-21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
       'Unnamed: 34', 'R-10-01-21', 'R-09-01-21', 'R-08-01-21', 'R-07-01-21',
       'R-06-01-21', 'R-05-01-21', 'R-04-01-21', 'R-03-01-21', 'R-02-01-21',
       'R-01-01-21'],
      dtype='object')

- now we only have those empty 'Unnamed' columns

In [18]:
temp = []
for i in range(len(df_1.columns)):
    if df_1.columns[i][:7] == "Unnamed":
        temp.append(df_1.columns[i])
df_1 = df_1.drop(labels = temp, axis = 1)

In [19]:
df_1.columns

Index(['Type', '10-01-21', '09-01-21', '08-01-21', '07-01-21', '06-01-21',
       '05-01-21', '04-01-21', '03-01-21', '02-01-21', '01-01-21',
       'R-10-01-21', 'R-09-01-21', 'R-08-01-21', 'R-07-01-21', 'R-06-01-21',
       'R-05-01-21', 'R-04-01-21', 'R-03-01-21', 'R-02-01-21', 'R-01-01-21'],
      dtype='object')

- doing the same for second df

In [20]:
for i in range(len(df_2.columns) - 2):
    if df_2.columns[i+ 1][:7] == "Unnamed" and df_2.columns[i][:7] != "Unnamed":
        df_2["R-" + df_2.columns[i]] = df_2[df_2.columns[i + 1]]
        df_2 = df_2.drop(labels = df_2.columns[i + 1], axis = 1)

In [21]:
temp = []
for i in range(len(df_2.columns)):
    if df_2.columns[i][:7] == "Unnamed":
        temp.append(df_2.columns[i])
df_2 = df_2.drop(labels = temp, axis = 1)

In [22]:
df_2.columns

Index(['Type', '10-01-21', '09-01-21', '08-01-21', '07-01-21', '06-01-21',
       '05-01-21', '04-01-21', '03-01-21', '01-01-21', 'R-01-01-21',
       'R-10-01-21', 'R-09-01-21', 'R-08-01-21', 'R-07-01-21', 'R-06-01-21',
       'R-05-01-21', 'R-04-01-21', 'R-03-01-21'],
      dtype='object')

- adding new category for missing values in column "Type" as "STUDENT"

In [23]:
df_1["Type"] = df_1["Type"].fillna("STUDENT")

In [24]:
df_2["Type"] = df_2["Type"].fillna("STUDENT")

In [25]:
df_1["Type"].value_counts()

STUDENT    45
WORKING     9
IGNORE      2
DROPOUT     1
Name: Type, dtype: int64

In [26]:
df_2["Type"].value_counts()

STUDENT    49
WORKING    16
DROPOUT     3
IGNORE      2
Name: Type, dtype: int64

- seperating dataframe into attendance and rating 
- df_1_R would contain ratings along with type

In [27]:
temp = []
for i in range(len(df_1.columns)) :
    if df_1.columns[i][0] != "R":
        temp.append(df_1.columns[i])
df_1_R = df_1.drop(labels = temp, axis = 1)
df_1 = df_1.drop(labels = list(df_1_R.columns), axis = 1)
df_1_R["Type"] = df_1["Type"]

In [29]:
df_1_R.columns

Index(['R-10-01-21', 'R-09-01-21', 'R-08-01-21', 'R-07-01-21', 'R-06-01-21',
       'R-05-01-21', 'R-04-01-21', 'R-03-01-21', 'R-02-01-21', 'R-01-01-21',
       'Type'],
      dtype='object')

In [30]:
df_1.columns

Index(['Type', '10-01-21', '09-01-21', '08-01-21', '07-01-21', '06-01-21',
       '05-01-21', '04-01-21', '03-01-21', '02-01-21', '01-01-21'],
      dtype='object')

- doing the same for df_2

In [31]:
temp = []
for i in range(len(df_2.columns)) :
    if df_2.columns[i][0] != "R":
        temp.append(df_2.columns[i])
df_2_R = df_2.drop(labels = temp, axis = 1)
df_2 = df_2.drop(labels = list(df_2_R.columns), axis = 1)
df_2_R["Type"] = df_2["Type"]

In [33]:
df_2.columns

Index(['Type', '10-01-21', '09-01-21', '08-01-21', '07-01-21', '06-01-21',
       '05-01-21', '04-01-21', '03-01-21', '01-01-21'],
      dtype='object')

In [34]:
df_2_R.columns

Index(['R-01-01-21', 'R-10-01-21', 'R-09-01-21', 'R-08-01-21', 'R-07-01-21',
       'R-06-01-21', 'R-05-01-21', 'R-04-01-21', 'R-03-01-21', 'Type'],
      dtype='object')

# Analysis

## SELECT CLASS

In [101]:
print("IF you want to see analysis of class 1 enter 1 or for analysis of class 2 enter 2:")
a = input()
if a.isnumeric():
    if int(a) == 1:
        df = df_1
        df_R = df_1_R
        print("class 1 selected.")
    elif int(a) == 2:
        df = df_2
        df_R = df_2_R
        print("class 2 selected.")
    else:
        print("Enter Valid Input!")
else:
    print("Enter Valid Input!")

IF you want to see analysis of class 1 enter 1 or for analysis of class 2 enter 2:
1
class 1 selected.

## Overview of the class

In [115]:
print("Total number of students in the class is", df.shape[0])
print("Data Between Dates {}(DD-MM-YY) and {}(DD-MM-YY)".format(df.columns[len(df.columns) - 1], df.columns[1]))
print("\nType Wise Distribution of the class")
print(df["Type"].value_counts(), "\n")
print("Total Missing values in the data:", df_R.isnull().sum().sum() + df.isnull().sum().sum())

Total number of students in the class is 57
Data Between Dates 01-01-21(DD-MM-YY) and 10-01-21(DD-MM-YY)

Type Wise Distribution of the class
STUDENT    45
WORKING     9
IGNORE      2
DROPOUT     1
Name: Type, dtype: int64

Total Missing values in the data: 7

## Unsatsfied and Satisfied Students

### Top "N" unsatisfied students with their average score

- Enter N, by default 10

In [103]:
print("Total number of students in the class is", df.shape[0])

Total number of students in the class is 57

In [104]:
N = 10 #(make sure it doesn't exceed total number of students)

In [105]:
print(df_R.mean(axis = 1).sort_values(ascending = True)[:N])
# On the left is student Roll number followed by their average score(ignoring missing values)

Student Roll No
5     6.0
14    6.3
42    6.6
7     6.6
48    6.8
20    6.9
6     6.9
28    7.1
50    7.1
52    7.1
dtype: float64

### Unsatisfied students with some cutoff average score.

- All students with average score less than cutoff value would be shown in order of least satisfied to most.(Enter cut_off value, by default value = 7)
- Also printing number of students below the cutoff value

In [106]:
cutoff_value = 7

In [107]:
temp = df_R.mean(axis = 1).sort_values(ascending = True)
print(temp[temp < cutoff_value])
# On the left is student Roll number followed by their average score(ignoring missing values)
print("Total number of students below cutoff level:", len(temp[temp < cutoff_value]))

Student Roll No
5     6.0
14    6.3
42    6.6
7     6.6
48    6.8
20    6.9
6     6.9
dtype: float64
Total number of students below cutoff level: 7

### Top "N" satisfied students with their average score

- Enter N, by default 10

In [116]:
print("Total number of students in the class is", df.shape[0])

Total number of students in the class is 57

In [117]:
N = 10 #(make sure it doesn't exceed total number of students)

In [121]:
print(df_R.mean(axis = 1).sort_values(ascending = False)[:N])
#On the left is student Roll number followed by their average score(ignoring missing values)

Student Roll No
3     8.5
4     8.4
19    8.2
21    8.1
47    8.1
8     8.1
16    8.1
37    8.0
33    8.0
27    8.0
dtype: float64

### satisfied students with some cutoff average score.

- All students with average score more than cutoff value would be shown in order of most satisfied to least.(Enter cut_off value, by default value = 8)
- Also printing number of students above the cutoff value

In [123]:
cutoff_value = 8

In [125]:
temp = df_R.mean(axis = 1).sort_values(ascending = False)
print(temp[temp > cutoff_value])
# On the left is student Roll number followed by their average score(ignoring missing values)
print("Total number of students above cutoff level:", len(temp[temp > cutoff_value]))

Student Roll No
3     8.5
4     8.4
19    8.2
21    8.1
47    8.1
8     8.1
16    8.1
dtype: float64
Total number of students above cutoff level: 7

## Attendance Analysis

In [161]:
attendance_df = df.fillna("NA")

### Day-Wise attendance

In [167]:
for i in range(len(attendance_df.columns)):
    if attendance_df.columns[i] != "Type":
        temp = attendance_df[attendance_df.columns[i]].value_counts()
        print("attendance on {} is: {}%".format(attendance_df.columns[i], round((temp["Attended"] / temp.sum()) * 100, 2)))

attendance on 10-01-21 is: 45.61%
attendance on 09-01-21 is: 43.86%
attendance on 08-01-21 is: 47.37%
attendance on 07-01-21 is: 52.63%
attendance on 06-01-21 is: 49.12%
attendance on 05-01-21 is: 49.12%
attendance on 04-01-21 is: 56.14%
attendance on 03-01-21 is: 47.37%
attendance on 02-01-21 is: 59.65%
attendance on 01-01-21 is: 52.63%

### Student-Wise attendance

In [180]:
for i in range(len(attendance_df.index)):
    temp = (attendance_df.iloc[i, 1:]).value_counts()
    
    if "Attended" in temp.index:
        print("attendance of roll no {} is: {}%".format(attendance_df.index[i], round((temp["Attended"] / temp.sum()) * 100, 2)))
    else:
        print("attendance of roll no {} is: {}%".format(attendance_df.index[i], 0))

attendance of roll no 1 is: 0%
attendance of roll no 2 is: 40.0%
attendance of roll no 3 is: 40.0%
attendance of roll no 4 is: 50.0%
attendance of roll no 5 is: 0%
attendance of roll no 6 is: 40.0%
attendance of roll no 7 is: 100.0%
attendance of roll no 8 is: 0%
attendance of roll no 9 is: 0%
attendance of roll no 10 is: 0%
attendance of roll no 11 is: 100.0%
attendance of roll no 12 is: 100.0%
attendance of roll no 13 is: 100.0%
attendance of roll no 14 is: 90.0%
attendance of roll no 15 is: 100.0%
attendance of roll no 16 is: 60.0%
attendance of roll no 17 is: 50.0%
attendance of roll no 18 is: 0%
attendance of roll no 19 is: 0%
attendance of roll no 20 is: 60.0%
attendance of roll no 21 is: 0%
attendance of roll no 22 is: 100.0%
attendance of roll no 23 is: 0%
attendance of roll no 24 is: 80.0%
attendance of roll no 25 is: 100.0%
attendance of roll no 26 is: 90.0%
attendance of roll no 27 is: 40.0%
attendance of roll no 28 is: 100.0%
attendance of roll no 29 is: 90.0%
attendance of roll no 30 is: 60.0%
attendance of roll no 31 is: 100.0%
attendance of roll no 32 is: 0%
attendance of roll no 33 is: 0%
attendance of roll no 34 is: 100.0%
attendance of roll no 35 is: 0%
attendance of roll no 36 is: 0%
attendance of roll no 37 is: 20.0%
attendance of roll no 38 is: 90.0%
attendance of roll no 39 is: 0%
attendance of roll no 40 is: 80.0%
attendance of roll no 41 is: 100.0%
attendance of roll no 42 is: 70.0%
attendance of roll no 43 is: 0%
attendance of roll no 44 is: 100.0%
attendance of roll no 45 is: 100.0%
attendance of roll no 46 is: 30.0%
attendance of roll no 47 is: 90.0%
attendance of roll no 48 is: 60.0%
attendance of roll no 49 is: 0%
attendance of roll no 50 is: 0%
attendance of roll no 51 is: 0%
attendance of roll no 52 is: 0%
attendance of roll no 53 is: 50.0%
attendance of roll no 54 is: 90.0%
attendance of roll no 55 is: 30.0%
attendance of roll no 56 is: 80.0%
attendance of roll no 57 is: 90.0%

### Top-N most attending student

- will print top N Students with most attendance in descending order(Enter value below the total student in class, by default value = 10)

In [188]:
print("Total number of students in the class is", df.shape[0])

Total number of students in the class is 57

In [186]:
N = 10#Change this value

In [187]:
temp_list = []
for i in range(len(attendance_df.index)):
    temp = (attendance_df.iloc[i, 1:]).value_counts()
    if "Attended" in temp.index:
        temp_list.append((temp["Attended"] / temp.sum()) * 100)
    else:
        temp_list.append(0)
pd.Series(temp_list, index = attendance_df.index).sort_values(ascending = False)[:N]

Student Roll No
34    100.0
22    100.0
28    100.0
15    100.0
31    100.0
13    100.0
12    100.0
11    100.0
25    100.0
41    100.0
dtype: float64

### Top-N least attending student

- will print top N Students with least attendance in ascending order(Enter value below the total student in class, by default value = 10)

In [190]:
print("Total number of students in the class is", df.shape[0])

Total number of students in the class is 57

In [195]:
N = 10 #Change this value

In [196]:
temp_list = []
for i in range(len(attendance_df.index)):
    temp = (attendance_df.iloc[i, 1:]).value_counts()
    if "Attended" in temp.index:
        temp_list.append((temp["Attended"] / temp.sum()) * 100)
    else:
        temp_list.append(0)
pd.Series(temp_list, index = attendance_df.index).sort_values()[:N]

Student Roll No
1     0.0
36    0.0
35    0.0
33    0.0
32    0.0
43    0.0
23    0.0
49    0.0
21    0.0
19    0.0
dtype: float64

### Type wise Attendance

In [207]:
for i in attendance_df["Type"].unique():
    temp_df = attendance_df[attendance_df["Type"] == i].drop(labels = "Type", axis = 1)
    attendance = 0
    for j in range(len(temp_df.columns)):
        temp = temp_df[temp_df.columns[j]].value_counts()
        if "Attended" in temp.index:
            attendance += temp["Attended"]
    print("attendance in Type '{}':{}%".format(i, round((attendance / (temp_df.shape[0] * temp_df.shape[1]) * 100), 2)))

attendance in Type 'WORKING':47.78%
attendance in Type 'STUDENT':54.22%
attendance in Type 'IGNORE':0.0%
attendance in Type 'DROPOUT':0.0%